{% extends 'main.html' %}
{% block content %}
<header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
  </header>
  {% if request.user.is_staff == True %}
  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
        <div class="w3-container w3-cyan w3-padding-16">
          <div class="w3-left"><i class="fa fa-square w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3>{{department_num}}</h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Departments</h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-teal w3-padding-16">
          <div class="w3-left"><i class="fa fa-bullseye fa-fw w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3>{{service_num}}</h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Services</h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-blue w3-padding-16">
          <div class="w3-left"><i class="fa fa-book w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3>{{project_num}}</h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Projects</h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-orange w3-text-white w3-padding-16">
          <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3>{{user_num}}</h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Users</h4>
        </div>
      </div>
    </div>
    {% endif %}
{% endblock content %}