<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button  w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();">
      <i class="fa fa-bars"></i>  Menu</button>
    <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-hover-white w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Logo</a>
    <button class="w3-button w3-hover-white w3-padding-large w3-right" title="Notifications">
      <i class="fa fa-bell"></i>
      <span class="w3-badge w3-right w3-small w3-green">3</span>
    </button>
  </div>