<form class="w3-container w3-card-4" action="">
    {% csrf_token %}
    <p>      
        <label class="w3-text-blue"><b>Name</b></label>
        <input class="w3-input w3-border" name="name" type="text">
    </p>
    <p>      
        <label class="w3-text-blue"><b>Description</b></label>
        <textarea class="w3-input w3-border" name="description" cols="10" rows="10"></textarea>
    </p>
    <p><button  onmouseleave="
                var nameField = document.querySelector('input[name=name]').value='';
                var descriptionField = document.querySelector('textarea[name=description]').value='';
                openCity('ListDepartments')"
                class="w3-btn w3-blue" 
                hx-post="/add_department/"
                hx-target=".w3-table-all"
                hx-swap="innerHTML">Register</button></p>
  </form>