
<div id="addPost" class="w3-container w3-display-container">
    <h2>Add post</h2>
    <form class="w3-container w3-card-4" action="">
        {% csrf_token %}
        <p>      
            <label class="w3-text-blue"><b>Name</b></label>
            <input class="w3-input w3-border" name="name" type="text">
        </p>
        <p>      
            <label class="w3-text-blue"><b>Description</b></label>
            <textarea class="w3-input w3-border" name="description" cols="10" rows="10"></textarea>
        </p>
        <p>
            <button type="button"
                    class="w3-btn w3-blue" 
                    hx-post="/add_post/"
                    hx-trigger="click"
                    hx-target=".container-content"
                    hx-swap="innerHTML">Register</button></p>
            <button
                    class="w3-btn w3-amber"
                    hx-post="/posts/"
                    hx-target=".container-content"
                    hx-swap="innerHTML swap:0.5s"
                    hx-trigger="click">Cancel</button>
    </form>
    
</div>