<form class="w3-container w3-card-4" action="">
    {% csrf_token %}
    <p>      
        <label class="w3-text-blue"><b>Name</b></label>
        <input class="w3-input w3-border" name="name" type="text">
    </p>
    <p>      
        <label class="w3-text-blue"><b>Description</b></label>
        <textarea class="w3-input w3-border" name="description" cols="10" rows="10"></textarea>
    </p>
    <p>      
        <label class="w3-text-blue"><b>Department</b></label>
        <select name="department_name" id="">
            {% for department in departments %}
                <option value="{{department.name}}">{{department.name}}</option>
            {% endfor %}     
        </select>
    </p>
    <p><button onmouseleave="
                        var nameField = document.querySelector('input[name=name]').value='';
                        var descriptionField = document.querySelector('textarea[name=description]').value='';
                        var departmentField = document.querySelector('select[name=department_name]').value='';
                        openCity('ListServices')"
                class="w3-btn w3-blue"
                hx-post="/add_service/"
                hx-target=".w3-table-all"
                hx-swap="innerHTML">Register</button></p>
  </form>