<div id="ListDepartments" class="w3-container w3-display-container">
    <h2>Department List</h2>
    <table class="w3-table-all">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Options</th>
        </tr>
        {% for department in departments %}
            <tr class="list">
                <td class="w3-container" style="overflow-x: hidden; width: 15%;">{{department.name}}</td>
                <td style="overflow-x: hidden; width:60%;">{{department.description | truncatewords:12}}</td>
                <td style="overflow-x: hidden; width: 20%;">
                    <span class="w3-button w3-small w3-round w3-blue"
                            hx-get="/department/{{department.id}}"
                            hx-target="#department"
                            hx-swap="innerHTML swap:0.02s"
                            onclick="w3.show('#department')"
                            >&quest;</span>
                    <span class="w3-button w3-small w3-round w3-red"
                            hx-get="/delete_department/{{department.id}}"
                            hx-target=".container-content"
                            hx-swap="innerHTML swap:0.2">&times;</span>
        
                </td>
                
            </tr>
        {% endfor %} 
        </tbody>
    </table>
</div>

<div id="department" class="w3-modal w3-container w3-padding-48">
    {% include 'department_detail.html' %}
</div>


