{% load static %}
<div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal"> 
        <span onclick="
          document.getElementById('department').style.display='none'
          document.getElementById('department').innerHTML=''" 
        class="w3-button w3-hover-red w3-display-topright">&times;</span>
        <h2>{{department.name | upper}}</h2>
      </header>
      <div class="w3-container" style="overflow-x: hidden;">
        <p>name : {{department.name}}</p>
        <p>description : {{department.description}}</p>
      </div>
      <div class="w3-container">
        <div  class="w3-border-bottom w3-row">
          <h3 class="w3-half">Services</h3>
          <div class="w3-half">
            <button class="w3-button w3-blue w3-right"
                    hx-get="/add_service_department/{{department.id}}"
                    hx-target=".w3-modal-content">&plus;<i class="fa fa-user"></i>&thinsp;service</button></div>
        </div>
        <ul class="w3-ul">
          {% for service in services %}
            <li>{{service.name}}
              <span class="w3-button w3-small w3-round w3-red"
              hx-get="/delete_department_service/{{department.id}}/{{service.id}}"
              hx-target=".w3-modal-content"
              hx-swap="innerHTML swap:0.5">&times;</span>

              <!-- <span class="w3-button w3-small w3-round w3-blue fa fa-eye"
              hx-get="/service/{{service.id}}"
              hx-target=".w3-modal"
              hx-swap="innerHTML swap:0.5"></span> -->
            </li>
            
          {% endfor %}
        </ul>
      </div>
      <footer class="w3-container w3-padding">
        <button class="w3-button w3-amber"><i class="fa fa-arrow-up"></i>&thinsp;update</button>
      </footer>
</div>


  