<tr>
    <th>Name</th>
    <th>Description</th>
    <th>Options</th>
</tr>
{% for department in departments %}
    <tr class="list">
        <td class="w3-container" style="overflow-x: hidden; width: 15%;">{{department.name}}</td>
        <td style="overflow-x: hidden; width:60%;">{{department.description | truncatewords:12}}</td>
        <td style="overflow-x: hidden; width: 20%;">
            <span class="w3-button w3-small w3-round w3-blue"
                    hx-get="/department/{{department.id}}"
                    hx-target="#department"
                    onclick="document.getElementById('department').style.display='block'"
                    >&quest;</span>
            <span class="w3-button w3-small w3-round w3-red"
                    hx-get="/delete_department/{{department.id}}"
                    hx-target=".w3-table-all"
                    hx-swap="innerHTML swap:0.5">&times;</span>

        </td>
        
    </tr>
{% endfor %}

