
<div class="w3-bar w3-gray w3-padding">
    <button class="w3-bar-item w3-button w3-hover-black w3-padding-16"
            hx-get="/meetings/"
            hx-trigger="click"
            hx-target=".container-content"
            hx-swap="innerHTML swap:0.3">List Meetings</button>
    <button class="w3-bar-item w3-button w3-hover-black w3-padding-16" 
            hx-get="/add_meeting/"
            hx-trigger="click"
            hx-target=".container-content"
            hx-swap="innerHTML swap:0.3">Create Meeting</button>
  </div>


  <div class="w3-container w3-display-container container-content">

  </div>

<div id="meeting" class="w3-modal w3-container w3-padding-48"></div>

    