<tr>
    <th>Name</th>
    <th>Description</th>
    <th>Options</th>
</tr>
{% for project in projects %}
    <tr class="list">
        <td class="w3-container" style="overflow-x: hidden; width: 15%;">{{project.name}}</td>
        <td style="overflow-x: hidden; width:60%;">{{project.description | truncatewords:12}}</td>
        <td style="overflow-x: hidden; width: 20%;">
            <span class="w3-button w3-small w3-round w3-blue"
                    hx-get="/project/{{project.id}}"
                    hx-target="#project"
                    hx-swap="innerHTML swap:0.0s"
                    onclick="document.getElementById('project').style.display='block'"
                    >&quest;</span>
            <span class="w3-button w3-small w3-round w3-red"
                    hx-get="/delete_project/{{project.id}}"
                    hx-target=".w3-table-all"
                    hx-swap="innerHTML swap:0.5">&times;</span>

        </td>
        
    </tr>
{% endfor %}

