{% load static %}
<div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal"> 
        <span onclick="
        document.getElementById('service').style.display='none';
        document.getElementById('service').innerHTML=''" 
        class="w3-button w3-display-topright">&times;</span>
        <h2>{{service.name | upper}}</h2>
      </header>
      <div class="w3-container">
        <p>name : {{service.name}}</p>
        <p>description : {{service.description}}</p>
        <p>department : {{service.department.name}}</p>
      </div>
      <footer class="w3-container w3-padding">
        <button class="w3-button w3-amber">&uparrow;update info</button>
      </footer>
</div>


  